/************************************+
DESCRIPTION  : RESPONSIVITY SCRIPT   *
AUTHOR       : JOHN PERRI CRUZ       *
DESCRIPTION  : RESPONSIVE VIEWSPORTS *
DATE CREATED : JULY 17, 2015         *
*************************************/
/*GLOBAL*/

@media screen and (max-width: 1920px){ /*********| 1080P |**********/    
}      
@media screen and (max-width: 1600px){ /*****| MID HD DESKTOP |*****/
}                       
@media screen and (max-width: 1440px){ /*****| MID HD DESKTOP |*****/
} 
@media screen and (max-width: 1366px){ /********| HD LAPTOP |*******/
}
@media screen and (max-width: 1280px){ /**********| 720P |**********/
}
@media screen and (max-width: 1152px){ /******| DESKTOP RARE |*******/
}
@media screen and (max-width: 1024px){ /**| APPLE IPAD LANDSCAPE |**/
}
@media screen and (max-width: 800px) { /**| APPLE IPAD PORTRAIT |***/
	.alignleft {
		float: none!important;
	}
	.alignright {
		float: none!important;
	}
	.page-template-template-homepage:not(.has-post-thumbnail) .site-main {
		padding-top: 1rem;
	}
	.mb-sm-2 {
		margin-bottom: 15px;
	}
	.mb-sm-4 {
		margin-bottom: 25px;
	}
	.single-product div.product{
		padding: 1rem!important;
		margin:0px;
	}
	table.wccpf_fields_table td.wccpf_label, table.wccpf_fields_table td.wccpf_label label {
		width: 125px!important;
	}
	table.wccpf_fields_table td.wccpf_label label {
		font-size: 14px;
	}	
	input.wccpf-field {
		font-size: 12px;
		width:125px;
	}
	ul#shipping_method li {
		text-align: left;
	}
	table.shop_table_responsive tr td::before {
		float: none;
		text-align: left;
		margin-bottom: 20px;
	}
	table.shop_table_responsive tr td {
		text-align: left;
	}
	ul#shipping_method li {
		margin-bottom: 20px;
	}
	.text-sm-center {
		text-align: center!important;
	}
	div#wpc-editor-container {
		width: 100%!important;
		max-width:100!important;
		height:250px!important;
	}
	.wpc-editor-col-2 {
		width: 100%!important;
		max-width:100!important;
		padding: 0px;
		height:250px!important;
	}
	canvas#wpc-editor,canvas.upper-canvas ,.canvas-container{
		width: 100%!important;
		max-width: 100%!important;
		height:250px!important;
	}
	
}
@media screen and (max-width: 640px) { /*|SAMSUNG MOBILE LANDSCAPE|*/
}
@media screen and (max-width: 480px) { /*| GENERIC ANDROID PHONES |*/
}
@media screen and (max-width: 414px) { /********| IPHONE 6+ |*******/
}
@media screen and (max-width: 375px) { /********| IPHONE 6 |********/
}
@media screen and (max-width: 360px) { /*|SAMSUNG MOBILE PORTRAIT|**/
}
@media screen and (max-width: 320px) { /******| IPHONE 5,4... |*****/
}