@font-face {
	font-family: Century Gothic;
	src: url('../fonts/Century_Gothic.ttf');
} 
@font-face {
	font-family: All Star Resort;
	src: url('../fonts/All Star Resort.ttf');
} 
@font-face {
	font-family: Anderson Four Feather Falls;
	src: url('../fonts/Anderson Four Feather Falls.ttf');
} 
@font-face {
	font-family: Capture It;
	src: url('../fonts/Capture it.ttf');
} 
@font-face {
	font-family: Capture It 2;
	src: url('../fonts/Capture_it_2.ttf');
} 
@font-face {
	font-family: Century Normal;
	src: url('../fonts/Century Normal.ttf');
} 
@font-face {
	font-family: Comic Sans;
	src: url('../fonts/Comic Sans.ttf');
} 
@font-face {
	font-family: Cooper;
	src: url('../fonts/Cooper.ttf');
} 
@font-face {
	font-family: Copperplate Gothic;
	src: url('../fonts/Copperplate Gothic.ttf');
}
@font-face {
	font-family: Edwardian Script;
	src: url('../fonts/Edwardian Script.ttf');
}
@font-face {
	font-family: Engravers Old English Normal;
	src: url('../fonts/Engravers Old English Normal.ttf');
}
@font-face {
	font-family: Engravers Roman BT;
	src: url('../fonts/Engravers Roman BT.ttf');
}
@font-face {
	font-family: Helvetica Bold Oblique;
	src: url('../fonts/Helvetica Bold Oblique.ttf');
}
@font-face {
	font-family: Helvetica-Narrow;
	src: url('../fonts/Helvetica-Narrow.ttf');
}
@font-face {
	font-family: Kids;
	src: url('../fonts/Kids.ttf');
}
@font-face {
	font-family: Nuptial;
	src: url('../fonts/Nuptial.ttf');
}
@font-face {
	font-family: Old London;
	src: url('../fonts/OldLondon.ttf');
}
@font-face {
	font-family: Shelly Allegro;
	src: url('../fonts/Shelly Allegro.ttf');
}
@font-face {
	font-family: Sketch Block;
	src: url('../fonts/Sketch_Block.ttf');
}
@font-face {
	font-family: Times New Roman;
	src: url('../fonts/Times New Roman.ttf');
}
@font-face {
	font-family: Vivian;
	src: url('../fonts/Vivian.ttf');
}
@font-face {
	font-family: Western;
	src: url('../fonts/Western.ttf');
}